<h1>Log In To Your Profile</h1>

<div class="page-wrapper">

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash-#{key}" %>
<% end %>

<div class="login-div">

<%= form_tag '/login' do %>
<%= label_tag :username %>
<%= text_field_tag :username %>
<%= submit_tag "Log In" %>
<% end %>

<a id = "new-profile-link" href="/users/new">Create New Profile</a>

</div>

<div class="card-bottom">
  <%= image_tag("card-back.png", :size => "150x225") %>
</div>

</div>
