<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .payouts {
        border-radius: 25px;
        background: lightblue;
        padding: 20px;
        width: 250px;
        height: 305px;
        float: left;
        font-size: 14px;
        line-height: 1.6;
      }
      .clear {
        clear: both;
      }
      .pseudoheader {
        background-color: lightgrey;
        padding: 1px 20px;
      }
      .button {
        padding:5px;
        background-color: #dcdcdc;
        border: 1px solid #666;
        color:#000;
        text-decoration:none;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="parent" style="width: 800px; margin: 0 auto;">
      <div class="pseudoheader">
      <h1><%=@user.username%></h1> <h2>Total Points:<%=@user.points%><br> Ante:<br>
      Bet:</h2>
      </div> <br>
      <div class="hands" style="float: right;">
      <div class="row">
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
      </div>
      <div class="row">
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
        <%= image_tag("card-back.png", :size => "100x150") %>
      </div>
    </div>
    <div class="payouts" >
      <h3 class="payouttitle"> PAYOUTS ON WIN </h3>
      ROYAL FLUSH...................100 to 1 <br>
      STRAIGHT FLUSH...............50 to 1<br>
      FOUR OF A KIND.................20 to 1<br>
      FULL HOUSE.........................7 to 1<br>
      FLUSH....................................5 to 1<br>
      STRAIGHT..............................4 to 1<br>
      THREE OF A KIND.................3 to 1<br>
      TWO PAIR..............................2 to 1<br>
      EVERYTHING ELSE...............1 to 1<br>
      <strong>*DEALER QUALIFIES WITH A+K*</strong>
    </div>
  </div>
    <%= form_for @round do |f| %>
    <div class="ante-div clear">

<div class="flash-alert">
  <%= flash[:errors] %>
</div>

  	<%= f.label :ante_amount %>
  	<%= f.text_field :ante_amount, :value => 100 %>
    </div>

    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <%= f.hidden_field :status, :value => "active" %>
  	<%= f.submit ["Deal!"] %>
    <br><br>
    <a class="button" href=../users/<%="#{@user.id}"%>>Return Home</a>
  <%end%>
  </body>
</html>
