<% if @user.rounds.count == 0 %>
<div class="analytics">
<h1><%=@user.username%> Hasn't Played Any Rounds! </h1>

<div class="card-bottom">
  <%= image_tag("card-back.png", :size => "150x225") %>
</div>


</div>
<% elsif @user.rounds.count > 0 %>

<div class="analytics">


<h1><%= @user.username%>'s Stats: </h1>

<h3>Total Points: <%= @user.points %> </h3>
<h3>Rounds Played: <%= @user.rounds.count %> </h3>
<h3>Current Win Streak: <%=@user.win_streak %> </h3>
<h3>Percent Rounds Won: <%= @user.win_percentage %> </h3>
<h3>Percent Rounds Lost: <%= @user.lose_percentage %> </h3>
<h3>Percent Rounds Folded: <%= @user.fold_percentage %> </h3>


<div class="round_analysis">
<h2>Round Details: </h2>

  <% r = 1 %>
  <table>

    <tr>
      <th>Round Number</th>
      <th>Ante Amount</th>
      <th><%=@user.username%> Hand</th>
      <th>Dealer Hand</th>
      <th>Outcome</th>
    </tr>

  <% @user.rounds.each do |round| %>
  <tr>

    <% if round.hands.count == 2 %>
    <td> <%= r %> </td>


    <% player_hand =  round.hands.find_by(is_player_hand: true) %>

    <% dealer_hand =  round.hands.find_by(is_player_hand: false)%>

    <td><%=round.ante_amount %> </td>
    <td> <%=player_hand.rank_display%> </td>
    <td> <%=dealer_hand.d_rank_display%> </td>

    <td> <%= round.status %> </td>

    </tr>

    <% r+= 1 %>
    <% end %>
  <% end %>
</table>
</div>
<% end %>


</div>
