<% if @user.rounds.count == 0 %>
<div class="analytics">
<h1><%=@user.username%> Hasn't Played Any Rounds! </h1>

<div class="card-bottom">
  <%= image_tag("card-back.png", :size => "150x225") %>
</div>


</div>
<% elsif @user.rounds.count > 0 %>

<div class="analytics">


<h1><%= @user.username%>'s Stats: </h1>

<h3>Total Points: <%= @user.points %> </h3>
<h3>Rounds Played: <%= @user.rounds.count %> </h3>
<h3>Win Streak: <%=@user.win_streak %> </h3>
<h3>Percent Rounds Won: <%= @user.win_percentage %> </h3>
<h3>Percent Rounds Lost: <%= @user.lose_percentage %> </h3>
<h3>Percent Rounds Folded: <%= @user.fold_percentage %> </h3>


<h2>Round Details: </h2>

  <% r = 1 %>

  <% @user.rounds.each do |round| %>

    <% if round.hands.count == 2 %>
    <h3>Round <%= r %> </h3>


    <% player_hand =  round.hands.find_by(is_player_hand: true) %>

    <% dealer_hand =  round.hands.find_by(is_player_hand: false)%>

    <h4>Ante Amount: <%=round.ante_amount %> </h4>
    <ul>
      <li><%=@user.username%>: <%=player_hand.rank_display%>  </li>
      <li>Dealer: <%=dealer_hand.rank_display%></li>
    </ul>

    <h4>Outcome: <%= round.status %> </h4>

    <% r+= 1 %>
    <% end %>
  <% end %>

<% end %>

</div>
