<div class="nav-box">
      <nav id = "navbar">
        <h4>Logged in as <%= User.find(session[:user_id]).username %></h4>
        <ul>
          <li><%= link_to "Go to Users List", users_path %></li>
          <li><%= link_to "Edit Profile", edit_user_path(User.find(session[:user_id])) %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        </ul>
      </nav>
  </div>

<h1>Edit <%= @user.username%>'s Profile:</h1>

<div class="edit-form">

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash-#{key}" %>
  <% end %>

<%= form_for @user do |f| %>
<div id = "edit-username" class="edit-username">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="edit-name">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<%= f.submit "Edit" %>
<% end %>
<%= form_for @user do |f| %>
	<%= f.hidden_field :points, :value => 1000 %>
	<%= f.submit ["Reset Points to 1000"] %>
<%end%>

</div>
