<h1>Edit <%= @user.username%>'s Profile:</h1>

<div class="edit-form">

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash-#{key}" %>
  <% end %>

<%= form_for @user do |f| %>
<div class="edit-username">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="edit-name">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<%= f.submit "Edit" %>
<% end %>

</div>
