<h4>Logged in as <%= User.find(session[:user_id]).username %></h4>
<a href="/logout">Log Out</a>

<h1>All Players:</h1>
<div class="body">
<div class="user_list">
<% i = 1 %>
<% @ordered_users.each do |user| %>
  <h2><%= i%>. <%= link_to user.username, user  %></h2>
  <ul>
    <li class = "index_bullets">Name: <%= user.name %> </li>
    <li class = "index_bullets">Points: <%= user.points %> </li>
  </ul>
  <% i+= 1 %>
<% end %>
</div>
<div class="index_images">
  <div class="left_cards">
    <%= image_tag("card-images/QH", :size => "150x225") %>
    <%= image_tag("card-back.png", :size => "150x225") %>
    <%= image_tag("card-images/KS", :size => "150x225") %>
    <%= image_tag("card-back.png", :size => "150x225") %>
    <%= image_tag("card-images/KS", :size => "150x225") %>
  </div>
  <div class="right_cards">
    <%= image_tag("card-back.png", :size => "150x225") %>
    <%= image_tag("card-images/JD", :size => "150x225") %>
    <%= image_tag("card-back.png", :size => "150x225") %>
    <%= image_tag("card-images/JD", :size => "150x225") %>
    <%= image_tag("card-back.png", :size => "150x225") %> 
  </div>

</div>

</div>
