<h1>Create User Profile:</h1>

<div class="create-profile-form">

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash-#{key}" %>
<% end %>

<%= form_for @user do |f| %>
<div class="create-username">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="create-name">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<%= f.submit "Create" %>
<% end %>

<a href="/login">Login Page</a>

</div>
