<h1><%= @user.username%>'s Profile: </h1>

<ul>
  <li>Name: <%= @user.name%></li>
  <li>Points: <%= @user.points%></li>
</ul>


<br>
<%= link_to "Edit Profile", edit_user_path %>
<br>
<br>
<%= link_to "Back to Users List", users_path %>
